* {
    margin: 0;
    padding: 0;
}


.inner_main_menu {
    margin: 0 auto;
    width: 1170px;
    text-align: right;
}
.inner_main_menu ul{
    margin: 0;
    padding: 80px 0 0;
    list-style: none;
    position: relative;
}

.inner_main_menu ul li {
    float: none;
    display: inline-block;
}
.inner_main_menu ul li:nth-child(1) {
    float: left;
    /*
    margin: -4% 0 0 2%;*/
    margin: -47px 0 0 68px;
    border-radius: 30px 0 0 30px;
}
.inner_main_menu ul li:nth-child(2) {
    float: left;
    margin: -47px 0 0 95px;
}
.inner_main_menu ul li:nth-child(3) {
    float: right;
    margin: -47px 110px 0 -15px;
}
.inner_main_menu ul li:nth-child(4) {
    float: right;
    margin: -47px 60px 0 125px;
}

.inner_main_menu ul li a {
    color: white; font-size:20px; 
    text-transform: uppercase; 
    text-decoration: none; 
    display: block; 
    padding: 10px 20px;
    font-family: 'Oswald', sans-serif;

    background-color: #7ed957;
    border: none;
    border-radius: 12px;
}

.inner_main_menu ul li a:hover {
color: yellow;
}

#main_menu {
    width: 100%;
    position: relative;
    overflow: scroll auto;
}

.flag {
    position: absolute; 
    margin: -54px 0 0 470px;
}

.logo_area {
    width: 50px;/*de regula trebuie sa fie 300px*/
    heigth: 50px;/*de regula trebuie sa fie 300px*/
    position: absolute; 
    /*left: 45%;*/ 
    /*top: -15%;*/ margin-top: -93px;
    content: "";
    margin-left: 450px;
    text-align: center;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/* aici trebuie de facut un @media size pentru ca in height imaginea de meniu sa nu atarne in jos*/
.menu_area {
    position: absolute;
    left: 0%;
    margin-top: -669px;
    /*
    text-align: center;*/
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/



.welcome {
    position: absolute;
    left: 75px;
    top: 75px;
    z-index: -1;
}

.welcome_bar {
    position: relative;
    margin: -610px 0 0 0;
    opacity: 0.7;
}

.first_text {
    position: relative;
    font-family: 'Courgette', cursive;
    color: white;
    font-size: 62px;
    margin: -340px 0 0 25px;
}

.second_text {
    position: relative;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 24px;
    margin: 0 0 0 25px;
    color: white;
}

.imagee_about_us {
    margin-top: 120px;
}
/**********          Up Part           ******************/



/*---------------------Products Styles------------------------*/
.middle_part {
    border-left: 1200px solid #4b0707;
    height: 200px;
    position: relative;
    margin: 720px 0 0 75px;
}

hr {
    height: 70px;
    align-items: center;
    width: 1199px;
    margin: 721px 0 0 75px;
    
}

.middle_flower {
    position: absolute;
    margin: -149px 0 0 545px;
}


.odamit {
    color: yellow;
    font-size: 45px;
    position: absolute;
    margin: -570px 0 0 -1180px;
    font-family: 'Courgette', cursive;
}

.after_odamit {
    color: white;
    font-size: 24px;
    position: absolute;
    margin: -410px 0 0 -1180px;
    font-family: 'Raleway', sans-serif;
}

.right_fleur {
    position: absolute;
    margin: -651px 0 0 -456px;
}

.since {
    position: absolute;
    margin: -251px 0 0 -1300px;
}

.possible {
    position: absolute;
    font-size: 28px;
    color: white;
    margin: -105px 0 0 -1000px;
    font-family: 'Courgette', cursive;
}


.vlg {  
    border-left: 1380px solid white;
    height: 200px;
    position: relative;
    width: 100%;
    margin: -20px 0 0 -1300px;
}

.birdhouse {
    margin: -180px 0 0 -1150px;
    position: absolute;
}

.ecoteria {
    margin: -160px 0 0 -900px;
    position: absolute;
}

.ecoter_text {
    position: absolute;
    margin: -80px 0 0 -900px;
    font-family: 'Raleway', sans-serif;
    color: green;
    font-size: 18px;
}

.greenshovel {
    position: absolute;
    margin: -180px 0 0 -750px;
}
.leaf { 
    position: absolute;
    margin: -162px 0 0 -550px;
}

.feeleaf {
    position: absolute;
    margin: -90px 0 0 -550px;
    font-family: 'Playball', cursive;
    color: #7ed957;
    font-size: 25px;
}

.left_flower {
    position: absolute;
    margin: -251px 0 0 1050px;
}
.partners {
    margin-left: 200px;
}










/* -----------------------Footer Menu/Part----------------------*/

.footer_menu hr {
    height: 10px;
    /*align-items: center;*/
    width: 100%;
    margin: -54px 0 0 0;
}

* .menu_name {
    color: #ffd116;
    font-family: 'Roboto Condensed', sans-serif;
    align: center;
    font-size: 24px;
}

.my-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}

.my-flex-container table {
    align-items: baseline;
    margin: 0 175px 0 0;
} 
* .menu_names {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 21px;
}

.my-flex-container a {
    text-decoration: none;
    color: white;
}

.down_area {
    position: absolute;
}


.footer_nav {
    position: absolute;
    margin: 0;
}

.footer_text {
    font-family: 'Sacramento', cursive;
    color: darkorange;
    position: relative;
    font-size: 45px;
    margin: 15px 0 0 140px;
}

.fb {
    position: relative;
    margin: 10px 0 0 0;
}

.ig {
    position: relative;
    margin: 10px 0 0 0;
}

.vl {
    border-left: 6px solid white;
    height: 95px;
    position: relative; 
    margin: 10px 0 0 0;
}

.social {
    position: relative;
    margin: 10px 0 0 0;
}

.contacts_text {
    position: relative;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.rights {
    position: absolute;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 129px 0 0 620px;
}


